<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @survey.status %>
</p>

<p>
  <strong>Content:</strong>
  <%= @survey.content.title %>
</p>

<%= link_to 'Edit', edit_admin_survey_path(@survey), class: "btn btn-primary" %> 
<%= link_to 'Back', admin_surveys_path, class: "btn btn-success" %>
