<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @content.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @content.status %>
</p>
<p>
  <strong>Course:</strong>
  <%= @content.course.name %>
</p>

<%= link_to 'Back', admin_contents_path %>
