<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @course.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category.name %>
</p>

<%= link_to 'Back', courses_path %>
