<p id="notice"><%= notice %></p>

<h1>Listing Survey Responses</h1>

<table>
  <thead>
    <tr>
      <th>Survey</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Timestamp</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_responses.each do |survey_response| %>
      <tr>
        <td><%= survey_response.survey %></td>
        <td><%= survey_response.question %></td>
        <td><%= survey_response.answer %></td>
        <td><%= survey_response.timestamp %></td>
        <td><%= survey_response.student %></td>
        <td><%= link_to 'Show', survey_response %></td>
        <td><%= link_to 'Edit', edit_survey_response_path(survey_response) %></td>
        <td><%= link_to 'Destroy', survey_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey response', new_survey_response_path %>
