<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @survey_response.survey %>
</p>

<p>
  <strong>Question:</strong>
  <%= @survey_response.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @survey_response.answer %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @survey_response.timestamp %>
</p>

<p>
  <strong>Student:</strong>
  <%= @survey_response.student %>
</p>

<%= link_to 'Edit', edit_survey_response_path(@survey_response) %> |
<%= link_to 'Back', survey_responses_path %>
